<div id="questions_div">
  <p data-localize="election_intro">
    To cast a vote, you will be led through the following steps. At the end of this voting process, you will be asked to authenticate using the Central Login in order to confirm your vote.
  </p>

  <ol>
    <li data-localize="election_1">
      <b>Select</b> your preferred options.<br /><span style="font-size: 14pt;">You can easily navigate forwards and backwards.</span>
    </li>

    <br />

    <li data-localize="election_2">
      <b>Encrypt</b> your vote.<br /><span id="bigint_in_browser" style="font-size: 14pt;">Your vote will be encrypted inside your browser (not on our server).</span><span id="not_bigint_in_browser" style="font-size: 14pt; color: red; display: none;">Your browser does not have the required capabilities to encrypt the vote itself and will therefore send it to our server for encryption, so the secrecy of your vote is not guaranteed. Please use a more recent browser if you don't want this.</span>
    </li>

    <br />

    <li  data-localize="election_3">
      <b>Review &amp; confirm</b> your choices.<br /><span style="font-size: 14pt;">You can verify your choices and you get a <i>smart ballot tracker</i>, which can be used to verify that your encrypted vote wasn't tampered with while sending it to the server.</span>
    </li>
  </ol>

  <div align="center">
    <button onclick="BOOTH.show_question(0);" data-localize="election_start">Start</button>
  </div>
</div>
