{% load mkrange %}

<ul class="pagination">
  {% if page.has_previous %}
    <li class="arrow">
      <a href="?page={{page.previous_page_number}}&limit={{limit}}">&laquo;</a>
    </li>
  {% else %}
    <li class="arrow unavailable">&laquo;</li>
  {% endif %}

  {% if paginator.num_pages <= 10 %}
    {% for p in paginator.page_range %}
      <li {% ifequal p page.number %}class="current"{% endifequal %}><a href="?page={{p}}&limit={{limit}}&q={{q|urlencode}}">{{p}}</a></li>
    {% endfor %}
  {% else %}
    <li {% ifequal page.number 1 %}class="current"{% endifequal %}><a href="?page=1&limit={{limit}}&q={{q|urlencode}}">1</a></li>

    {% if page.number == 1 %}
      {% mkrange 2 4 as page_range %}
    {% elif page.number == 2 %}
      {% mkrange 2 5 as page_range %}
    {% elif page.number == 3 %}
      {% mkrange 2 6 as page_range %}
    {% elif page.number == paginator.num_pages|add:"-2" %}
      {% mkrange page.number|add:"-2" page.number|add:"2" as page_range %}
    {% elif page.number == paginator.num_pages|add:"-1" %}
      {% mkrange page.number|add:"-2" page.number|add:"1" as page_range %}
    {% elif page.number == paginator.num_pages %}
      {% mkrange paginator.num_pages|add:"-2" paginator.num_pages as page_range %}
    {% else %}
      {% mkrange page.number|add:"-2" page.number|add:"3" as page_range %}
    {% endif %}

    {% if page.number >= 5 %}
      <li class="unavailable">&hellip;</li>
    {% endif %}

    {% for p in page_range %}
      <li {% ifequal p page.number %}class="current"{% endifequal %}><a href="?page={{p}}&limit={{limit}}&q={{q|urlencode}}">{{p}}</a></li>
    {% endfor %}

    {% if page.number <= paginator.num_pages|add:"-4" %}
      <li class="unavailable">&hellip;</li>
    {% endif %}

    <li {% ifequal page.number paginator.num_pages %}class="current"{% endifequal %}><a href="?page={{audited_ballots_paginator.num_pages}}&limit={{limit}}&q={{q|urlencode}}">{{audited_ballots_paginator.num_pages}}</a></li>
  {% endif %}

  {% if audited_ballots_page.has_next %}
    <li class="arrow">
      <a href="?page={{audited_ballots_page.next_page_number}}&limit={{limit}}">&raquo;</a>
    </li>
  {% else %}
    <li class="arrow unavailable">&raquo;</li>
  {% endif %}
</ul>
