{% extends TEMPLATE_BASE %}
{% load i18n %}

{% block title %}{{election.name}}{% endblock %}

{% block content %}
  {% if admin_p %}
    {% include "partials/election_progress.html" with current="view" election=election %}
  {% endif %}

  <div class="row">
    <div class="large-12 columns">
      <h2>
        {{ election.name }}
        {% if admin_p %}
          <small>[<a href="{% url 'helios.views.one_election_admin' election.uuid %}">{% trans "Admin" %}</a>]</small>
        {% endif %}
      </h2>

      <div class="row">
        {% if settings.SHOW_USER_INFO %}
          <div class="large-4 columns">
            <dl>
              <dt>{% trans "Created by" %}</dt>
              <dd>{{election.admin.display_html_small|safe}}</dd>
            </dl>
          </div>
        {% endif %}

        {% if election.voting_starts_at %}
          <div class="large-4 columns">
            <dl>
              <dt>{% trans "Voting" %} {% if voting_has_stopped %}{% trans "Started" %}{% else %}{% trans "Starts" %}{% endif %} {% trans "at" %}</dt>
              <dd>{{election.voting_starts_at}}</dd>
            </dl>
          </div>
        {% endif %}

        {% if election.voting_ends_at %}
          <div class="large-4 columns">
            <dl>
              <dt>{% trans "Voting" %} {% if voting_has_stopped %}{% trans "Ended" %}{% else %}{% trans "Ends" %}{% endif %} {% trans "at" %}</dt>
              <dd>{{election.voting_ends_at}}</dd>
            </dl>
          </div>
        {% endif %}
      </div>

      <div class="row">
        <div class="large-12 columns">
          {% if election.election_info_url or election.description %}
            <dl>
              {% if election.election_info_url %}
                <dt>{% trans "Election Info" %}</dt>
                <dd><a target="_blank" href="{{election.election_info_url}}">{% trans "Candidate Bios and Statements" %}</a></dd>
              {% endif %}

              {% if election.description %}
                <dt>{% trans "Description" %}</dt>
                <dd>{{election.description_bleached|safe}}</dd>
              {% endif %}
            </dl>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      {% if election.result %}
        {% if election.result_released_at %}
          <div data-alert class="alert-box info">
            {% trans "This election is complete." %}
          </div>
        {% endif %}

        {% if election.result_released_at or election.result and admin_p %}
          {% if settings.SHOW_PARTICIPATION_INFO %}
            <h3>{% trans "Participation" %}</h3>

            <p>
              {% blocktrans with num_voters_cast=num_voters_cast num_voters=num_voters participation_percentage=participation_percentage %}
                {{num_voters_cast}} out of {{num_voters}} voters cast their vote, or {{participation_percentage}}%.
              {% endblocktrans %}
            </p>
          {% endif %}

          <h3>{% trans "Tally" %}</h3>

          {% for question in election.pretty_result %}
            {% if forloop.counter0|divisibleby:2 %}<div class="row">{% endif %}
              <div class="large-6 columns">
                <h4>{{forloop.counter}}. {{question.question}}</h4>

                <table>
                  <thead>
                    <tr>
                      <td>
                        {% trans "Answer" %}
                      </td>
                      <td>
                        {% trans "Count" %}
                      </td>
                    </tr>
                  </thead>

                  <tbody>
                    {% for answer in question.answers %}
                      {% if settings.SHOW_WINNER %}
                        <tr>
                          <td style="padding-right:80px;{% if answer.winner %}font-weight: bold;{% endif %}">{{answer.answer}}</td>
                          <td align="right" style="{% if answer.winner %}font-weight: bold;{% endif %}">{{answer.count}}</td>
                        </tr>
                      {% else %}
                        <tr>
                          <td style="padding-right:80px;">{{answer.answer}}</td>
                          <td align="right">{{answer.count}}</td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% if not forloop.counter0|divisibleby:2 or forloop.last %}</div>{% endif %}
          {% endfor %}
        {% endif %}
      {% else %}
        {% if election.voting_has_stopped %}
          <div data-alert class="alert-box info">
            {% trans "This election is closed. The tally will be computed soon." %}
          </div>
        {% else %}
          {% if election.voting_has_started %}
            <a class="button" href="{{test_cookie_url}}">{% trans "Vote in this Election" %}</a>

            <div data-alert class="alert-box warning">
              {% if election.voting_extended_until %}
                {% blocktrans with voting_ends_at=election.voting_ends_at voting_extended_until=election.voting_extended_until %}
                  This election was initially scheduled to end at {{voting_ends_at}}, but has been extended until {{ voting_extended_until }}.
                {% endblocktrans %}
              {% else %}
                {% if election.voting_ends_at %}
                  {% blocktrans with voting_ends_at=election.voting_ends_at %}
                    This election is scheduled to end at {{voting_ends_at}}.
                  {% endblocktrans %}
                {% else %}
                  {% trans "This election ends at the administrator's discretion." %}
                {% endif %}
              {% endif %}
            </div>

            {% if election.private_p and voter %}
              <p>
                {% blocktrans with voter_name=voter.name %}
                  This election is <b>private</b>. You are signed in as eligible voter <i>{{voter_name}}</i>.
                {% endblocktrans %}
              </p>
            {% endif %}
          {% else %}
            <div data-alert class="alert-box warning">
              {% if election.voting_starts_at %}
                {% blocktrans with voting_starts_at=election.voting_starts_at %}
                  This election is scheduled to start at {{voting_starts_at}}.
                {% endblocktrans %}
              {% else %}
                {% trans "Voting is not yet open." %}
              {% endif %}
            </div>
          {% endif %}

          {% if user %}
            {% if voter %}
              <p>
                {% trans "You are registered to vote in this election." %} {% if use_voter_aliases %}{% blocktrans with voter_alias=voter.alias %}Your voter alias is {{voter_alias}}.{% endblocktrans %}{% endif %}
              </p>
            {% else %}
              {% if not election.result %}
                <div data-alert class="alert-box info">
                  {% if election.openreg %}
                    {% if eligible_p %}
                      {% trans "You are eligible to vote in this election." %}
                    {% else %}
                      {% blocktrans %}You are <i>not eligible</i> to vote in this election.{% endblocktrans %}
                    {% endif %}
                  {% else %}
                    {% blocktrans %}You are <i>not eligible</i> to vote in this election.{% endblocktrans %}
                  {% endif %}
                </div>
              {% endif %}
            {% endif %}
          {% else %}
            {% if election.openreg %}
              <div data-alert class="alert-box info">
                <b>{% trans "Who can vote?" %}</b>

                {% if election.eligibility %}
                  {{election.pretty_eligibility|safe}}
                {% else %}
                  {% trans "Anyone can vote in this election." %}
                {% endif %}
              </div>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}

      <h3>{% trans "Audit" %}</h3>

      {% if election.frozen_at %}
        <a class="button" href="{% url 'helios.views.voters_list_pretty' election.uuid %}">{% trans "Ballot Tracking Center" %}</a>
        <a class="button" href="{% url 'helios.views.one_election_audited_ballots' election.uuid %}">{% trans "Audited Ballots" %}</a>

        {% if not election.voting_has_started %}
          <a class="button" href="{{SECURE_URL_HOST}}/booth/vote.html?election_url={% url 'helios.views.one_election' election.uuid %}">{% trans "Preview Booth" %}</a>
        {% endif %}
      {% endif %}

      {% if election.voting_has_stopped %}
        {% if election.result %}
          <a class="button" target="_blank" href="/verifier/verify.html?election_url={% url 'helios.views.one_election' election.uuid %}">{% trans "Verify Election Tally" %}</a>
        {% endif %}

        <a class="button" href="{{vote_url}}">{% trans "Review the Voting Booth" %}</a>
      {% endif %}

      <div class="panel callout">
        <dl class="no-margin">
          <dt>{% trans "Election URL" %}</dt>
          <dd><a href="{{election.url}}">{{election.url}}</a></dd>

          {% if election.frozen_at %}
            <dt>{% trans "Election Fingerprint" %}</dt>
            <dd><tt style="font-weight: bold;">{{election.hash}}</tt></dd>

            {% if votes %}
              <dt>{% trans "Your Smart Ballot Tracker" %}</dt>
              <dd><tt style="font-weight: bold;">{{votes.0.vote_hash}}</tt></dd>
            {% endif %}
          {% endif %}
        </dl>
      </div>
    </div>
  </div>
{% endblock %}
