{% extends TEMPLATE_BASE %}
{% load i18n %}

{% block title %}{% blocktrans with election=election.name %}Confirm Your Vote in {{election}}{% endblocktrans %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="larger-12 columns">
      <h2>{{election.name}}&mdash;{% trans "Vote Successfully Cast!" %}</h2>

      <p>
        {% blocktrans %}
          Congratulations, your vote has been <b>successfully cast</b>! If you had voted already, your previous vote will not be counted.
        {% endblocktrans %}
      </p>

      <h3>{% trans "Your Smart Ballot Tracker" %}</h3>

      <div class="panel callout">
        <p class="text-center">
          <tt class="big">{{vote_hash}}</tt>
        </p>
      </div>

      {% if show_socialbuttons %}
        <p>
          <iframe src="{{socialbuttons_url}}" frameborder="0" border="0" style="width: 300px; height: 35px;" scrolling="no" align="middle"></iframe>
        </p>
      {% endif %}

      {% if logout %}
        <div data-alert class="alert-box info">
          {% trans "For your safety, we have logged you out." %}
        </div>
      {% endif %}

      <a class="button" href="{% url 'helios.views.one_election_view' election.uuid %}">{% trans "Return to Election Info" %}</a>

      {% if logout %}
        <iframe width="0" height="0" border="0" frameborder="0" src="{% url 'helios_auth.views.logout' %}"></iframe>
      {% endif %}
    </div>
  </div>
{% endblock %}
