{% extends TEMPLATE_BASE %}
{% load foundation %}
{% load i18n %}

{% block title %}{% trans "Log In to View Election" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h2>{% trans "Private Election&mdash;Please Log In" %}</h2>

      <p>
        {% blocktrans with hash=election.hash %}
          This election, with fingerprint <tt>{{hash}}</tt>, is private, and can only be viewed by eligible voters. If they were given, please provide the voter ID and password you received by email. It is also possible that the email mentioned one of the third-party providers.
        {% endblocktrans %}
      </p>

      {% if bad_voter_login %}
        <div data-alert class="alert-box warning">
          {% trans "Bad voter ID or password, please try again." %}
        </div>
      {% endif %}

      <h3>{% trans "Log In" %}</h3>

      <p>
        {{login_box|safe}}
      </p>

      {% if password_login_form %}
        <div class="panel">
          <h3>{% trans "Password" %}</h3>

          <form method="post" action="{% url 'helios.views.password_voter_login' election.uuid %}">
            <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
            <input type="hidden" name="return_url" value="{{return_url}}" />
            <input type="hidden" name="cast_ballot" value="{{cast_ballot}}" />

            {{password_login_form|foundationinline}}

            <div class="row">
              <div class="large-9 large-offset-3 columns">
                <input type="submit" class="small button" value="{% trans "Log In" %}" />
              </div>
            </div>
          </form>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
