{% extends TEMPLATE_BASE %}
{% block title %}Statistics for Elections{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h1>
        Statistics&mdash;Elections <small>[<a href="{% url 'helios.stats_views.home' %}">Back</a>]</small>
      </h1>

      <table>
        <thead>
          <tr>
            <th>Election</th>
            <th width="10%">Voters</th>
            <th width="10%">Cast Votes</th>
          </tr>
        </thead>

        <tbody>
          {% for election in elections %}
            <tr>
              <td>
                <b><a href="{% url 'helios.views.one_election_view' election.uuid %}">{{election.name}}</a></b> by <a href="mailto:{{election.admin.info.email}}">{{election.admin.pretty_name}}</a>
              </td>
              <td>{{election.num_voters}}</td>
              <td>{{election.num_cast_votes}}</td>
            </tr>
          {% empty %}
            <tr>
              <td class="text-center" colspan="3">
                There are no elections yet.
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if elections %}
        <div class="pagination-centered">
          {% include "partials/pagination.html" with page=elections_page paginator=elections_paginator %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
